html {
  box-sizing: border-box;
  background-color: #f0eee8;
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.linkcard {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.linkcard li {
  display: inline-block;
  margin: 0;
  background-color: #dcd4cd;
  color: #512200;
  border: 3px solid #9a816d;
  border-radius: 3px;
  text-align: left;
  font-size: 0.875remrem;
  padding: 1rem;
  line-height: 1.5rem;
}

.linkcard strong {
  font-size: 1.5rem;
  font-family: "Dosis", sans-serif;
  color: #512200;
}

.linkcard p {
  font-size: 1rem;
  color: #512200;
  line-height: 1.75rem;
}

.linkcard dl {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.linkcard dt {
  display: inline-block;
}

.linkcard dd {
  display:
  margin: 0;
  min-width: 10em;
}

.linkcard div {
  text-align: center;
}

.linkcard a {
  display: inline-block;
  font-family: "Dosis", sans-serif;
  font-size: 1.125rem;
  background-color: #785439;
  padding: .5em .75em;
  border-radius: 8px;
  border-width: 2px;
  color: #fff;
  text-decoration: none;
}

.linkcard hr {
  border: 0;
  width: 100%;
  color: #9a816d;
  background-color: #9a816d;
  height: 2px;
}
