html {
  box-sizing: border-box;
  background-color: #f0eee8;
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.linkcard {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.linkcard li {
  display: block;
  background-color: #dcd4cd;
  border: 3px solid #9a816d;
  border-radius: 3px;
  text-align: left;
  font-size: 0.875remrem;
}

.linkcard strong {
  font-size: 1.5rem;
  font-family: "Dosis", sans-serif;
}

.linkcard p {
  font-size: 1rem;
}

.linkcard div {
  text-align: center;
}

.linkcard a {
  display: inline-block;
  font-family: "Dosis", sans-serif;
  font-size: 1.125rem;
  background-color: #785439;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
}
